<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <h1><%= title %></h1>

    <%- include('./partials/menu') %>
    
    <p>Esta página fue desarrollada por Javier Oyarzo como proyecto de aprendizaje en el curso de Programación Web Full Stack de Digital House.</p>
    <p>Las imágenes y datos presentados son recopilados de diversas fuentes en línea y son utilizados con fines educativos.</p>

    <%- include('./partials/footer') %>

    <%- include('./partials/back-home') %>
</body>
</html>