<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <h2 id="bio-title">Hola, mi nombre es <%= nombre %></h2>
    
    <div id="origen">
        <p>País de Origen: <%= pais %></p>
        <img src="/images/<%= icono%>" alt="Foto del perfil">
    </div>
    
    <div id="historia">
        <p>Reseña</p>
        <p><%= bio %></p>
    </div>

    <img src="/images/<%= foto%>" alt="Foto del perfil" width="50%">
    

    <%- include('../partials/back-home') %>
</body>
</html>