<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <p>Hola, mi nombre es <%= nombre %> y soy <%= profesion %></p>

    <a class="more" href="/heroes/bio/id/<%= id %>/ok">Ver más</a>

    <img src="/images/<%= foto%>" alt="Foto del perfil" width="50%">

    <footer>
        <%- include('../partials/footer') %>
        <%- include('../partials/back-home') %>
    </footer>
</body>
</html>