<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <%- include('../partials/menu') %>

    <img src="images/portada.png" alt="Cientificos de la computación" width="600">

    <h2 id="list-title">Listado de Heroes de la Programación y la Ciencia de la computación</h2>

    <ul class="listado-cientificos">
        <% data.forEach((heroe) => { %>
        <li><a href="/heroes/detalle/id/<%= heroe.id %>"> <%= heroe.nombre %> </a> </li>
        <% }); %>
    </ul>

    <footer>
        <%- include('../partials/footer') %>
        <%- include('../partials/back-home') %>
    </footer>
</body>
</html>