<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <%- include('../partials/menu') %>

    <p>Listado de Heroes de la Programación y la Ciencia de la computación</p>

    <ul>
        <% data.forEach((heroe) => { %>
        <li><a href=""> <%= heroe.nombre %> </a> </li>
        <% }); %>
    </ul>

    <%- include('../partials/footer') %>
    <a href="/">Volver al inicio</a>
</body>
</html>